<div class="main-list">
  <%= image_tag "IMG_1518.jpeg", class:"main-images"%>
  <%= image_tag "IMG_1946.jpeg", class:"main-images"%>
  <%= image_tag "IMG_1948.jpeg", class:"main-images"%>
  <%#= image_tag "IMG_2416.jpeg", class:"main-images"%>
  <%#= image_tag "IMG_2424.jpeg", class:"main-images"%>
  <%#= image_tag "IMG_2425.jpeg", class:"main-images"%>
  <%#= image_tag "IMG_2431.jpeg", class:"main-images"%>
  <%#= image_tag "IMG_2433.jpeg", class:"main-images"%>
  <%#= image_tag "IMG_2434.jpeg", class:"main-images"%>
  <%#= image_tag "IMG_2436.jpeg", class:"main-images"%>
  <%#= image_tag "IMG_2440.jpeg", class:"main-images"%>
  <%#= image_tag "IMG_2441.jpeg", class:"main-images"%> 
</div>