 <div class="wrapper">
 <div class="top-side-bar">
    <%= render "top_side_bar" %>
  </div>
  <div class="title">
    魅力度は低いけど、栃木の魅力を知ろう！
  </div>
</div>
<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main-bar">
    <%= render "main_bar" %>
  </div>
</div>
